{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}MarketVault{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'portfolio/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">MarketVault</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}" id="all-posts">All Posts</a>
                </li> -->
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}" id="nav-dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="nav-assets">Assets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="nav-transactions">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="nav-profile">
                            {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    {% if REGISTRATION_ENABLED %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
